 
<h1>Categories</h1>
    <br />
   <ul>
       <li> <a href="/Categories/Edit/1">Beverage </a> </li>
        <li> <a href="/Categories/Edit/2">Fruits</a></li>
        <li> <a href="/Categories/Edit/3">Supplements</a></li>
   </ul>
