@using SuperMarketApp.Models;

@model List<Category>;

@section title{
<h1>Categories</h1>
} 
   <ul>
    @foreach(var category in Model)
    {
         <li> <a href="/Categories/Edit/@category.CategoryId">@category.Name </a> </li>
    }
   </ul>
